.Rproj.user
.Rhistory
.RData
.Ruserdata
power analysis.R
TDS WDL data analysis_BACKUP_585.R
TDS WDL data analysis_BASE_585.R
TDS WDL data analysis_LOCAL_585.R
TDS WDL data analysis_REMOTE_585.R
.TDS WDL data analysis_REMOTE_585.R.swp
.TDS WDL data analysis_LOCAL_585.R.swp
.TDS WDL data analysis_BASE_585.R.swp
.TDS WDL data analysis.R.swp
